// Body
$body-bg: #e8ecef;

// Typography
$font-family-headline: 'Kreon', serif; 
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-size-h1: 2rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.4rem;

// Colors
$lightGrey: #e8ecef;
$darkGrey: #4f4f4f;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #F5A168;
$yellow: #ffed4a;
$green: #CCDB75;
$teal: #4dc0b5;
$cyan: #6cb2eb;
