

// Typography
$font-family-headline: 'Kreon', serif; 
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-size-h1: 2rem;
$font-size-h2: 1.7rem;
$font-size-h3: 1.4rem;

// Colors
$CC-lightGrey: #e8ecef;
$CC-darkGrey: #4f4f4f;
$CC-lightGreen: #CCDB75;
$CC-midGreen: #AEC000;
$CC-orange: #F5A168;
$CC-white: #FFFFFF;

// Body
$body-bg: $CC-lightGrey;

$primary: $CC-lightGreen;
$secondary: $CC-orange;
$success: $CC-midGreen;
$info: #17a2b8;
$warning: $CC-orange;
$danger: #dc3545;
$light: $CC-lightGrey;
$dark: $CC-darkGrey;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #F5A168;
$yellow: #ffed4a;
$green: #CCDB75;
$teal: #4dc0b5;
$cyan: #6cb2eb;
