// Fonts
@import url('https://fonts.googleapis.com/css?family=Kreon:400,700|Open+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$sidenavWidth: 5rem;
// Sidenavigation
.vertical-nav {
    min-width: $sidenavWidth;
    width: $sidenavWidth;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.4s;
  }
// Main Content area
.page-content {
width: calc(100% - $sidenavWidth);
margin-left: $sidenavWidth;
transition: all 0.4s;
}

// All Icons
.mdi{
  color: $CC-darkGrey;
}
.fas{
  color: $CC-darkGrey;
}
.navIcon{
  color: $CC-darkGrey;
  font-size: 1.5rem;
}

.navText{
  font-size: 0.7rem;
}
#responsive-nav{
  margin-left: 5.5rem;
  max-width: 30rem;
  position: absolute;
  
}
.responsiveBackground{
  display: none;
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.5);
}

.navResponsiveTrigger{
  display: none;
} 

.fa-plus{
  font-size: 1.2rem;
  line-height: unset !important;
}

h1, h2, h3, h4{
  font-family: $font-family-headline; 
  font-weight: 700;
  color: $CC-darkGrey;
}
h1{
  font-size: $font-size-h1;
}
h2{
  font-size: $font-size-h2;
}
h3{
  font-size: $font-size-h3;
  margin-bottom: 0 !important;
}
h4{
  font-size: $font-size-h4;
  margin-bottom: 0 !important;
}

.tableHeight{
  height: calc(100vh - 3rem);
  max-height: calc(100vh - 3rem);
}
hr{
  border-top: 2px solid $CC-lightGreen;
}

@media screen and ( max-height: 32rem ){
  .navBtn{
    display: none;
  } 
  .navResponsiveTrigger{
    display: block;
  }
}