// Variables
@import 'variables';

#menuTable thead tr th{
  width: 20% !important;
}

#menuTableHead tr th{
  border-bottom: 2px solid $CC-lightGreen;
  $padTH: 0.4rem;
  padding-top:  $padTH !important;
  padding-bottom:  $padTH !important;
}

#courseMain, #courseDessert{
  border-bottom: 2px solid $CC-lightGreen;
  height: 25vh;
  
}

.courseName h4{
  color: $CC-midGreen !important;
}

.emptyCourse{
  border: 2px dashed $CC-darkGrey;
  height: 25vh;
}
.course{
  height: 12vh;
}
.course:hover, .mealItem:hover{
  border: 3px solid $CC-midGreen !important;
  cursor: move;
}
.oneMoreCourse{
  border: 2px dashed $CC-darkGrey;
  height: 12vh;
}
.noMoreCourse{
  display: none;
}
