// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// Variables
@import 'variables';

//Checkbox
input[type="checkbox"] {
    -webkit-appearance: none;
    height: 30px;
}
  
input[type="checkbox"]+label {
    background: #eee;
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all .3s ease;
    margin: 4px;
}

input[type="checkbox"]:checked+label {
    background: $green;
    color: black; 
}
  
input[type="checkbox"]+label::before {
    display: inline-block;
    border: 1px solid #888;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 5px;
    border-radius: 4px;
    transition: all .3s ease;
}

input[type="checkbox"]:checked+label::before{
    border-color: #fff;
    color: #fff;
}

input[type="checkbox"]:not(:checked):hover+label {
    border: 1px solid $orange;
}
input[type="checkbox"]:not(:checked):hover+label::before {
    background: #0055cc;
    color: #fff;
    border-color: #0055cc;
}

input[type="checkbox"]:checked:hover+label::before {
    color: #0055cc;
    background: #fff;
}

//Progress Bar
#addComponentForm fieldset:not(:first-of-type) {
  display: none;
}


/*progressbar*/
#progressbar {
    overflow: hidden;
    padding-left: 0;
    text-align: center;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: $CC-darkGrey;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-family: 'Kreon', serif;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 2.6rem;
    height: 2.6rem;
    border: 0.1rem solid $CC-darkGrey;
    border-radius: 50%;
    line-height: 2.3rem;
    display: block;
    font-size: 1.6rem;
    color: $CC-darkGrey;
    margin: 0 auto 10px auto;
}

#progressbar li.active:before, #progressbar li.active:after {
    border-color: $CC-midGreen;
    color: $CC-midGreen;
}


